body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: #333;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #1e3a8a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2563eb;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  padding: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #1e3a8a;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f3f4f6;
}

.operation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.operation-card {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.operation-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1e3a8a;
}

.operation-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.operation-card button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #1e3a8a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.operation-card button:hover {
  background-color: #2563eb;
}
